

form h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(55, 66, 81);
}

form label{
    margin-bottom: 5px;
    font-weight: 400;
    color: rgb(55, 66, 81);
}

form input {
    width: 300px;
    padding: 5px 15px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
}

form input:focus {
    border-color: red;
}

form textarea {
    width: 800px;
    height: 300px;
    padding: 5px 15px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
}